<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css"/>
  <title>Todo List</title>
</head>
<body>
  <header><h1>My Todo List</h1></header>
  <div id="secret-container">
    <h3 id="secret-header">Pssssst! Check out the secret page!</h3>
    <form id="secret-form"  >
      <ul id=secret-list>
        <li><input type = "text" class="secret-text" id="username" placeholder="username"></li>
        <li><input type = "text" class="secret-text" id="password" placeholder="password"></li>
      </ul>
      <input type="submit" id="secret-button" value="Submit">
    </form>
  </div>

    



  <script src = "/scripts/index.js"></script>
</body>
</html>