<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css"/>
  <title>Todo List</title>
</head>
<body>
  <header><h1>My Todo List</h1></header>
  <h3 id="secret-header">Check out the secret page!</h3>
    <form id="secret-form">
      
      <div>
      Username: <input type = "text" class="secret-text"><br>
      Password:  <input type = "text" class="secret-text">
    </div>
      
    </form>
    <h3 id="todo-header">Add your todos!</h3>
    <div id = "newtodo-div">
    <form>
      <input type="text" class="todo-input">
      <button class="todo-button" type="submit">+</button>
      <select name="todos" class="filter-todo">
        <option value="all">All</option>
        <option value="completed">Completed</option>
        <option value="incomplete">Incomplete</option>
      </select>
  </div>
  </form>
  <div class="todo-container">
    <ul class="todo-list"><li></li></ul>
  </div>



  <script src = "/scripts/app.js"></script>
</body>
</html>